on:
    push:
        branches: [ "master" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Code
                uses: actions/checkout@v3

            -   name: Checkout Config Repo
                uses: actions/checkout@v3
                with:
                    repository: DInarGab/media-settings
                    token: ${{ secrets.CONFIG_REPO_TOKEN }}
                    path: configs

            -   name: Prepare Archive
                run: |
                    cp configs/.env.production .env
                    rm -rf .git .github configs
                    tar -czf /tmp/deploy_package.tar.gz .

            # 4. Отправка архива на сервер (appleboy/scp-action)
            -   name: Copy files via SCP
                uses: appleboy/scp-action@v1
                with:
                    host: ${{ secrets.SSH_HOST }}
                    username: ${{ secrets.SSH_USER }}
                    key: ${{ secrets.SSH_KEY }}
                    source: "/tmp/deploy_package.tar.gz"
                    target: "/tmp/"
                    strip_components: 1

            # 5. Магия на сервере (appleboy/ssh-action)
            -   name: Execute Remote SSH Commands
                uses: appleboy/ssh-action@v1.0.3
                with:
                    host: ${{ secrets.SSH_HOST }}
                    username: ${{ secrets.SSH_USER }}
                    key: ${{ secrets.SSH_KEY }}
                    script: |
                        PROJECT_ROOT="/opt/myapp"
                        SHARED_DIR="$PROJECT_ROOT/shared"
                        RELEASE_DATE=$(date +%Y%m%d%H%M%S)
                        NEW_RELEASE_DIR="$PROJECT_ROOT/releases/$RELEASE_DATE"

                        if [ -L "$PROJECT_ROOT/current" ]; then
                            PREV_RELEASE_DIR=$(readlink -f "$PROJECT_ROOT/current")
                        else
                            PREV_RELEASE_DIR=""
                        fi

                        # папка релиза
                        mkdir -p $NEW_RELEASE_DIR

                        # Распаковка архива
                        tar -xzf /tmp/deploy_package.tar.gz -C $NEW_RELEASE_DIR
                        rm /tmp/deploy_package.tar.gz

                        # composer install через отдельный образ
                        docker run --rm \
                            -v $NEW_RELEASE_DIR:/app \
                            -w /app \
                            composer install --no-dev --prefer-dist --optimize-autoloader --ignore-platform-reqs



                         # Права на запись для отчетов
                        rm -rf $NEW_RELEASE_DIR/public/reports
                        mkdir -p $SHARED_DIR/public/reports
                        sudo chmod -R 777 $SHARED_DIR/public/reports
                        ln -sfn $SHARED_DIR/public/reports $NEW_RELEASE_DIR/public/reports

                        # миграция с использованием старого phpnew, но новых файлов
                        cd $PROJECT_ROOT
                        docker compose run --rm \
                            -v $NEW_RELEASE_DIR:/opt/myapp \
                            -w /opt/myapp \
                            phpnew \
                            php bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration --all-or-nothing


                        # Права на запись кеша для контенера
                        mkdir -p $NEW_RELEASE_DIR/var/cache $NEW_RELEASE_DIR/var/log
                        sudo chmod -R 777 $NEW_RELEASE_DIR/var


                        cp $NEW_RELEASE_DIR/docker-compose.yml $PROJECT_ROOT/docker-compose.yml

                        # переключаем симлинк

                        ln -sfn $NEW_RELEASE_DIR/docker $PROJECT_ROOT/docker
                        ln -sfn $NEW_RELEASE_DIR/.env $PROJECT_ROOT/.env
                        ln -sfn $NEW_RELEASE_DIR $PROJECT_ROOT/current


                        cd $PROJECT_ROOT


                        # Пересобираем контейнеры в фоне (если изменился Image) и перезапускаем
                        docker compose up -d --build --remove-orphans

                        sleep 10

                        # Простой healthcheck
                        if curl --silent --fail --head http://localhost/api/news/; then


                            echo "Success"

                            # Удаляем старые релизы только при успехе
                            cd $PROJECT_ROOT/releases
                            ls -t | tail -n +4 | xargs -I {} rm -rf {}

                        else
                            echo "Site is Down Rolling back"

                            if [ -z "$PREV_RELEASE_DIR" ]; then
                                echo "Error no previoues releases"
                                exit 1
                            fi

                            ln -sfn $PREV_RELEASE_DIR/docker $PROJECT_ROOT/docker
                            ln -sfn $PREV_RELEASE_DIR/.env $PROJECT_ROOT/.env
                            ln -sfn $PREV_RELEASE_DIR $PROJECT_ROOT/current

                            cp $PREV_RELEASE_DIR/docker-compose.yml $PROJECT_ROOT/docker-compose.yml

                            cd $PROJECT_ROOT
                            docker compose up -d --build --remove-orphans

                            echo "Rollback complete"

                            exit 1
                        fi
